body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #f8f8f8;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: rgb(29, 29, 29);
  color: #fefefe;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  max-width: 100px;
  height: auto;
}

main {
  margin-left: 3dvw;
  margin-right: 3dvw;
  margin-top: 40px;
  margin-bottom: 120px;
}

a {
  color: orange;
}

header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header ul li {
  margin-right: 30px;
  text-decoration: underline;
}

header ul li a {
  text-decoration: none;
  color: #fefefe;
  font-size: 1.1em;
}

h1,
h2,
h3 {
  margin: 0;
  color: #ffffff;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card {
  width: 250px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: rgba(197, 197, 197, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  overflow-y: auto;
  max-height: 90%;
}

.popup-top {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
}

.popup-image {
  max-width: 500px;
  display: flex;
}

.popup-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.popup-content > p,
strong {
  font-family: "Pokemon Solid", sans-serif;
}

.popup-content > h2,
h3 {
  color: #ffcb05;
  font-family: "Pokemon Solid", sans-serif;
}

.popup p {
  color: #000000;
  font-size: 1.3rem;
}

.popup h2 {
  font-size: 2rem;
  color: #232323;
  text-align: center;
}

.popup h3 {
  font-size: 1.6rem;
  color: #e60012;
  margin-bottom: 15px;
  text-align: center;
}

.popup strong {
  font-size: 1.6rem;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: underline;
}

.popup-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.attack-item p {
  display: flex;
  gap: 10px;
}

.attack-item {
  border: dashed 3px rgb(21, 21, 21, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.popup-energy-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.attack-list,
.infos {
  width: 90%;
  border: solid 2px rgb(56, 56, 56);
  padding: 15px;
  background: #f9f9f9;
  color: #000;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.type-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: inline-block;
  margin-right: 5px;
}

.related-cards-list {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.related-cards-list img {
  width: 15%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.related-cards-list img:hover {
  transform: scale(1.1);
}

.close-popup {
  position: absolute;
  color: #000;
  top: 10px;
  right: 10px;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.close-popup:hover {
  color: red;
}

.popup-details .popup-types img {
  width: 40px;
}

@media (max-width: 768px) {
  .popup-content {
    max-width: 90%;
    flex-direction: column;
    padding: 10px;
  }

  .popup-top {
    flex-direction: column;
    gap: 20px;
  }

  .card-list {
    margin: 10px;
    gap: 15px;
  }

  .card {
    width: 100%;
    padding: 8px;
  }

  .popup-image {
    max-width: 300px;
    display: flex;
  }

  .popup-content h2 {
    font-size: 1.6rem;
  }

  .popup h3 {
    font-size: 1.4rem;
  }

  .popup p {
    font-size: 1.1rem;
  }

  .related-cards-list img {
    width: 25%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .popup-image {
    max-width: 100%;
    justify-content: center;
    padding: 10px;
  }

  .popup strong{
    font-size: 1.4rem;
  }

  .popup h3 {
    font-size: 1.8rem;
    margin: 15px;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }

  .card-list {
    gap: 10px;
  }

  .card {
    width: 100%;
  }

  .attack-list,
  .infos {
    width: 90%;
  }

  .attack-item strong,
  .popup {
    font-size: 1rem;
  }

  .related-cards-list img {
    width: 40%;
  }
  .popup-details .popup-types img {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
}


/* LOADER */
/* LOADER */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pokemon {
    position: relative;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
    border-radius: 50%;
    border: 8px solid black;
    animation: spin 1s linear infinite;
}

.pokemon::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100px;
    background: black;
    top: 50px;
    transform: translatey(-50%);
}

.pokemon::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: white;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#content {
    padding: 20px;
    color: white;
    text-align: center;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
